body {
    background-color:#222222
}

a {
    color: #aaaaaa
}

h1 {
    font-family: 'Courier New', Courier, monospace
}

#title_logo {
    position: relative;
    top: 15px;
    text-align: center;
}

#title_logo img {
    width: 70vw;
    max-width: 500px
}

.bartender {
    position: relative;
    width: 90vw;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto
}

.top_menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    color: #aaaaaa;
}

.bartender_logo {
    width: 100%;
}

.speech-bubble-container {
    position: relative;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}

.speech-bubble {
	position: relative;
	background: #eeeeee;
    border-radius: .4em;
    margin: 10px;
    text-align: center;
    min-height: 60px;   
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 7%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-top-color: #eeeeee;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10.5px;
	margin-bottom: -21px;
}