<!-- templates/index.html -->  
<html>  
  <head>
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Password Pub: A password generator made with Python3 and Flask</title>
    <link rel="stylesheet" href="../static/css/main.css"> 
  </head>
  <body>
    <div class="top_menu">
      Generate secure passwords. <b>Refresh the page for a new one!</b> See the <a href="../README.md">readme</a> for additional instructions. Copyright 2019 <a href="https://github.com/christag">Christopher Tagliaferro.</a>
    </div>
    <div id="title_logo">
      <img src="../static/img/sitelogo.png">
    </div> 
    <div class="bartender-container">
      <img class="bartender"> <!-- Make this image in PS! -->
    </div>
    <div class="speech-bubble-container">
      <hgroup class="speech-bubble">
        <h1>{{ password }}</h1>
     </hgroup>
   </div>
  </body>
</html>  